.popup-div{
    color: rgb(188, 231, 35);
    background-color: rgb(24, 26, 40);
    border-radius: 2em;
}

.form-label{
    display: inline;
}

input[type=text]{
    display: inline;
}

input[type=text]:focus{
    border-color: rgb(200, 255, 0) !important;
    box-shadow: 2px 2px 2px 2px rgb(200, 255, 0);
    background-color:rgb(237, 252, 183) ;
}

.add-item-div{
    border-radius: 1rem;
}